header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Helvetica, sans-serif;
}

#theme-button,
#github-button {
    font-size: large;
    border-style: none;
    border-radius: 0.5em;
    padding: 5px;
    width: 2.8em;
    height: 2.8em;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#theme-button {
    float: right;
}

#github-button {
    float: left;
}

input {
    font-family: Helvetica, sans-serif;
    font-size: 1.4rem;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
    margin-left: 2.4vw;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

label {
    font-size: 1.2rem;
    margin: 12px;
}

#reset-time-button {
    font-size: 1.1rem;
    border-radius: 0.5rem;
    border-style: none;
    display: inline-block;
    padding: 0.5em;
    position: absolute;
    bottom: 8vh;
    left: 50%;
    cursor: pointer;
    transform: translate(-50%, 50%);
    transition: transform 0.09s ease-out;
}

#reset-time-button.scale {
    transform: translate(-50%, 50%) scale(150%) translateY(-0.5rem);
}

.title {
    font-size: 2.2rem;
}

.container {
    text-align: center;
}

.theme-container {
    position: relative;
}

.dropdown-menu {
    display: block;
    position: absolute;
    top: 40px;
    z-index: -1;
    padding: 12px 32px 12px 12px;
    width: 148px;
    border-radius: 0.5em;
    right: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    -moz-box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    box-shadow: 0 0 27px 13px rgba(73, 73, 73, 0.2);
    transition: all 0.14s ease-out;
}

.dropdown-menu.show {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    top: calc(100% + 8px);
}

.dropdown-menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    opacity: 0.7;
}

.dropdown-menu a:hover {
    opacity: 1;
}

.dropdown-menu a.selected {
    font-weight: bold;
}

@media only screen and (orientation: portrait) {
    html,
    body,
    .container {
        height: 94%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .dropdown-menu {
        font-size: 20px;
        padding: 1em;
    }

    .input-time-container {
        margin-top: 0.2rem;
    }
}

@media (max-height: 426px) {
    #reset-time-button {
        left: 90%;
        bottom: unset;
        margin-top: -12vh;
    }
}
