body {
    background-color: #242424;
    color: #f4f4f4;
    transition: background-color 0.5s ease;
}

#title {
    color: #69b5e0;
    transition: color 0.5s ease;
}

#theme-button {
    background-image: url('../images/dark-theme-icon.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 32px 32px;
}

#theme-button, input {
    background-color: #373737;
    color: #f4f4f4;
    transition: color 0.5s ease;
}

a {
    color: #e4e4e4;
}