header {
    display: flex;
    justify-content: space-between;
}

body {
    font-family: Helvetica, sans-serif;
}

#title {
    font-size: 235%;
}

#result {
    font-size: 148%;
}

#theme-button, #github-button {
    font-size: large;
    border-style: none;
    border-radius: 0.5em;
    padding: 5px;
    width: 2.8em;
    height: 2.8em;
    margin-left: 5px;
    background-size: 70% 70%;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}

#theme-button {
    float: right;
}

#github-button {
    float: left;
}

input {
    font-family: Helvetica, sans-serif;
    font-size: x-large;
    padding: 5px;
    border-style: none;
    border-radius: 5px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    display: none;
}

label {
    font-size: 128%;
    margin: 12px;
}

.container {
    text-align: center;
}

.input-time-container {
    font-size: large;
}

@media only screen and (orientation: portrait) {
    header {
        zoom: 120%;
    }

    body {
        zoom: 200%;
    }

    html,
    body,
    .container {
        height: 94%;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}