body {
    background-color: #242424;
    color: #f4f4f4;
    transition: background-color 0.5s ease;
}

.title {
    color: #69b5e0;
    transition: color 0.5s ease;
}

#theme-button, #github-button, #reset-time-button, input {
    background-color: #373737;
    color: #f4f4f4;
    transition: color 0.5s ease;
}

#theme-button {
    background-image: url('../icons/dark-theme-icon.png');
}

#github-button {
    background-image: url('../icons/github-mark-white.png');
}

.dropdown-menu {
    background-color: #242424;
}

.dropdown-menu a {
    color: #f4f4f4;
}
