body {
    background-color: #ffffff;
    color: #111111;
    transition: background-color 0.5s ease;
}

.title {
    color: #349ad4;
    transition: color 0.5s ease;
}

input, #theme-button, #github-button {
    background-color: #e8e8e8;
    transition: color 0.5s ease;
}

#theme-button {
    background-image: url('../icons/light-theme-icon.png');
}

#github-button {
    background-image: url('../icons/github-mark.png');
}

.dropdown-menu {
    background-color: #fff;
}

.dropdown-menu a {
    color: #111111;
}
